.feature-card{
    align-items: center;
    background-color: var(--secondarycolor);
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.feature-img{
    background-color: #dde6fc;
    max-width: 60px;
    max-height: 60px;
}

.feature-text{
    color: #444444;
    font-size: 18px;
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 26px;
}