.ss__navbar{
    align-items: center;
    display: flex;
    background-color: #f6f9ff;
}

.ss__navbar-container{
    align-items: center;
    display: flex;
    flex: 1;
    padding: 0 6rem 1rem;
    justify-content: space-between;
    max-width: 1700px;
}

.ss__navbar_logo-container{
    align-items: center;
    cursor: pointer;
    height: 102px;
    justify-content: center;
    margin-right: 2rem;
    width: 86px;
}

.ss__navbar_logo-container img{
    width: 100%;
    height: 100%;
}

.ss__navbar_links-container{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-evenly;
}

.ss__navbar_links-container p{
    text-transform: capitalize;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
}

.ss__navbar_sign{
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.ss__navbar_sign_log-in{
    background-color: transparent;
    border: 1px solid var(--secondaryColor);
    border-radius: 8px;
    color: var(--secondaryColor);
    cursor: pointer;
    font-family: var(--font-family);
    padding: 1rem;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}

.ss__navbar_sign > button{
    background-color: var(--secondaryColor);
    border: none;
    border-radius: 8px;
    color: #FBFBFB;
    cursor: pointer;
    font-family: var(--font-family);
    padding: 1rem;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}

@media screen and (max-width:950px) {
    .ss__navbar{
        padding: 1rem;
    }

    .ss__navbar_logo-container{
        margin-right: 1rem;
    }

    .ss__navbar_links-container{
        display: none;
    }

    .ss__navbar_sign_log-in{
        margin-right: 1rem;
    }
}

@media screen and (max-width:810px) {
    .ss__navbar_links-container{
        display: none;
    }
}

@media screen and (max-width:465px) {
    .ss__navbar_sign{
        display: none;
    }
}

@media screen and (min-width:1700px) {
    .ss__navbar-container{
        margin: 0 auto;
    }
}
